[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/bundle/happy_hacking.vim"]
	path = vim/bundle/happy_hacking.vim
	url = https://github.com/YorickPeterse/happy_hacking.vim.git
[submodule "vim/bundle/gruvbox"]
	path = vim/bundle/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "LS_COLORS"]
	path = LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS.git
[submodule "vim/bundle/tender-colorscheme"]
	path = vim/bundle/tender-colorscheme
	url = https://github.com/jacoborus/tender.vim.git
[submodule "vim/bundle/zenburn"]
	path = vim/bundle/zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "vim/bundle/jellybeans"]
	path = vim/bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/papercolor"]
	path = vim/bundle/papercolor
	url = git@github.com:NLKNguyen/papercolor-theme.git
[submodule "vim/bundle/wombat256"]
	path = vim/bundle/wombat256
	url = https://github.com/vim-scripts/wombat256.vim.git
