[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/bundle/happy_hacking.vim"]
	path = vim/bundle/happy_hacking.vim
	url = https://github.com/YorickPeterse/happy_hacking.vim.git
[submodule "vim/bundle/gruvbox"]
	path = vim/bundle/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "LS_COLORS"]
	path = LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS.git
