*~
\#*#
*.elc
ac-comphist.dat
auto-save-list/
elpa/
eshell
ido.last
projectile-bookmarks.eld
projectile.cache
recentf
smex-items
snippets/
themes/
thumbs/
tutorial/
url/
var/
vendor/
.python-environments/
.sx/
.authinfo.gpg
image-dired/
oauth2.plstore
cider-history
sesseion*
*.log
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
challenge